body {
    background-color: #f4f8fa;
}

.box{
    display: inline-block;
    position:relative;
    width:10px;
    height:5px;
    background: white;
    padding:10px;
    text-align:center;
    border:1px solid #212121;
    color:#FFFFFF;
    font-size:30px;
    font-weight:bold;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
}
.box:after,.box:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    top:100%;
    left:61%;
}
.box:after{
    border-color: rgba(247, 245, 255, 0);
    border-top-width:5px;
    border-bottom-width:5px;
    border-left-width:5px;
    border-right-width:5px;
    margin-left: -5px;
    border-top-color: white;
}
.box:before{
    border-color: rgba(33, 33, 33, 0);
    border-top-width:6px;
    border-bottom-width:6px;
    border-left-width:6px;
    border-right-width:6px;
    margin-left: -6px;
    margin-top: 1px;
    border-top-color:#212121;
}






.title {
    display: inline-block;
}

.top-wrapper {
    background-color: white;
    width: 500px;
    margin: auto;
}

.wrapper {
    background-color: #f4f8fa;
    width: 400px;
    margin: auto;
    padding: 30px 20px;
}

#span1 {
    height: 100px;
}

textarea {
    resize: none;
    border: none;
}

.placeholder {
    padding: 10px;
}

#span1 {
    padding: 20px;
}

#comment {
    padding: 10px;
}

span {
    color: red;
}

.sample {
    background-color: white;
    padding: 5px 20px;
    margin-bottom: 30px;
}

/* footer {
    text-align: center;
} */

#snackbar {
    visibility: hidden; /* 最初は非表示 */
    width: 100%;
    height:20px;
    background-color: #333;
    color: #fff; 
    text-align: center;
    padding: 0px; 
    position: fixed; 
    z-index: 1;
    bottom: -36px; /* 画面外にめり込ませておく */
  }

  #snackbar2 {
    visibility: hidden; /* 最初は非表示 */
    width: 100%;
    height:20px;
    background-color: #333;
    color: #fff; 
    text-align: center;
    padding: 0px; 
    position: fixed; 
    z-index: 1;
    bottom: -36px; /* 画面外にめり込ませておく */
  }
  
  #snackbar_area {
      width: 100%;
      height: 40px;
      clip-path: inset(20px 0 0 0);
      position: fixed; 
      bottom: 0px;
  }

  #nowTime {
    width: 100%;
    height: 40px;
    clip-path: inset(20px 0 0 0);
    position: fixed; 
    bottom: 0px;
}
  
  /* showクラスが付与されたときにアニメーションが起動する。 */
  #snackbar.show {
    visibility: visible;
    animation: fadein 1s forwards, fadeout 1s 4s forwards; /*1秒でフェードイン、4秒後に1秒でフェードアウト*/
    animation-iteration-count: 1; 
    -webkit-animation: fadein 1s forwards, fadeout 1s 4s forwards; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1; 
  }
  @-webkit-keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @-webkit-keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }
  
  @keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }

  #snackbar2.show {
    visibility: visible;
    animation: fadein 1s forwards, fadeout 1s 4s forwards; /*1秒でフェードイン、4秒後に1秒でフェードアウト*/
    animation-iteration-count: 1; 
    -webkit-animation: fadein 1s forwards, fadeout 1s 4s forwards; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1; 
  }
  @-webkit-keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @-webkit-keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }
  
  @keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }

  #nowTime.show {
    visibility: visible;
    animation: fadein 1s forwards, fadeout 1s 4s forwards; /*1秒でフェードイン、4秒後に1秒でフェードアウト*/
    animation-iteration-count: 1; 
    -webkit-animation: fadein 1s forwards, fadeout 1s 4s forwards; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1; 
  }
  @-webkit-keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @keyframes fadein {
     0%   { transform:  translateY(0px);    } 
    100%  { transform:  translateY(-20px);   } 
  }
  
  @-webkit-keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }
  
  @keyframes fadeout {
     0%   { transform:  translateY(-20px);    } 
    100%  { transform:  translateY(-40px);   } 
  }